@media screen and (min-width: 1680px) {
  body {
    background-color: maroon;
  }
  div.image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1679px) and (min-width: 1366px) {
  body {
    background-color: green;
  }
  div.image {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 1365px) {
  body {
    background-color: blue;
  }
  div.image {
    width: 50px;
    height: 50px;
  }
}
